body {
    background: #222;
    color: #39FF14;
    font-family: 'VT323', monospace;
}

a, a:visited {
    color: #FFD700;
    text-decoration: underline;
}

input, button, select, textarea {
    font-family: 'VT323', monospace;
}

::-webkit-scrollbar {
    width: 8px;
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #39FF14;
    border-radius: 4px;
}
